# Database settings for LotusXSS
dbHost="lotusxssdb"
dbUser=lotusxss
dbPassword=changeme
dbName=database
dbPort=3306

# Docker settings
dockerHttpPort=80
dockerHttpsPort=443
useMailAlerts=true

# LotusProxy settings
prHost=0.0.0.0
prWebPort=30055
prProxyPort=13000
prCertFile=/home/lotusxss/domains/example.com/ssl.cert
prKeyFile=/home/lotusxss/domains/example.com/ssl.key
prUseLogin=0
prUser=lotusxss
prPassword=lotusxss
