.theme * {color: hsl(290, 66.66666666666666%, 80%) !important;background-color: hsl(290, 0%, 25%) !important;border-color: hsl(290, 0%, 35%) !important;}
.theme img {visibility: visible !important;}
.theme button {color: hsl(290, 80%, 80%) !important;background-color: hsl(290, 0%, 25%) !important;border-color: hsl(290, 0%, 35%) !important;}
.theme textarea,
.theme input {background-color: hsl(290, 0%, 25%) !important;border-color: hsl(290, 0%, 35%) !important;color: hsl(290, 66.66666666666666%, 80%) !important;}
.theme pre,
.theme code,
.theme code span {background-color: hsl(290, 0%, 35%) !important;color: hsl(290, 66.66666666666666%, 80%) !important;}
.theme a, .theme a * {color: hsl(290, 80%, 80%) !important;background-color: hsl(290, 0%, 25%) !important;}
.theme a:hover, .theme a:hover * {color: hsl(290, 100%, 90%) !important;}
.theme a:active, .theme a:active * {color: hsl(290, 80%, 50%) !important;}
.content:before {background-color: hsl(290, 0%, 25%) !important;}
.navigation:before {background-color: hsl(290, 0%, 25%) !important;border-right: 1px solid hsl(290, 0%, 35%) !important;}
.nav-head {border-right: 1px solid hsl(290, 0%, 35%) !important;}
.loader {border: 5px solid hsl(290, 0%, 35%) !important;border-top: 5px solid hsl(290, 66.66666666666666%, 80%) !important;}
.checkbox-label input:checked ~ .checkbox-custom::after {border: solid hsl(290, 66.66666666666666%, 80%);border-width: 0 2px 2px 0;}
.login {background-color: hsl(290, 0%, 25%) !important;color: hsl(290, 66.66666666666666%, 80%) !important;}
.login .form {background-color: hsl(290, 0%, 25%) !important;}
.login .form-group {background-color: hsl(290, 0%, 25%) !important;}
.login .control-label {background-color: hsl(290, 0%, 25%) !important;color: hsl(290, 66.66666666666666%, 80%) !important;}
.transparent {background-color: transparent !important;}
body, html {background: hsl(290, 0%, 25%) !important;color: hsl(290, 66.66666666666666%, 80%) !important;}
*::-webkit-scrollbar-track {background-color: hsl(290, 0%, 25%) !important;border-radius: 0px 3px 3px 0px;}
*::-webkit-scrollbar {width: 6px;background-color: hsl(290, 0%, 35%) !important;}
*::-webkit-scrollbar-thumb {background-color: hsl(290, 66.66666666666666%, 80%) !important;}
::placeholder {color: hsl(290, 20%, 60%) !important;opacity: 1;}
